<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
    <link type="text/css" rel="stylesheet" href="css/style.css"/>

    <!--<link href="css/tipsy.css" rel="stylesheet" type="text/css" />-->

   
  </head>
  <body>
<div class="container wrapper"><!--<div class="inner-wrapper">-->
        <!--<img class="logo" src="img/bandaidlogo2.png" />-->
        <img class="logo" src="http://uxrepo.com/static/icon-sets/linecons/svg/music.svg" />
        <h1 class="main-heading">BandAid</h1>
        <h2 class="subheading">a social music discovery tool</h2>

            <a class="button" href="/auth/facebook">Log in with Facebook</a>
            <br/>
            <!--<a href="/auth/twitter">Login with Twitter</a>
            <a href="discover">Explore music</a>-->
              
    </div>


  </body>
</html>

